button.button1{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #212121;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#212121;
	text-align:center;
	transition: all 0.2s;
	background-color:#FFFFFF
}
button.button1:hover{
	color:#FFFFFF;
	background-color:#212121;
}
button.buttonLarge{
	display:inline-block;
	padding:0.7em 1.2em;
	border:0.1em solid #212121;
	margin:7px;
	border-radius:0.12em;
	font-size:25;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#212121;
	text-align:center;
	transition: all 0.2s;
	background-color:#FFFFFF

}
button.buttonLarge:hover{
	color:#FFFFFF;
	background-color:#212121;
}
@media all and (max-width:30em){
	button.button1{
		display:block;
		margin:0.4em auto;
	}
}

}
}